<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://www.phptravels.net/"/>
    <!--add key="Browser" value="Chrome" /-->
    <add key="Browser" value="Chrome" />
  </appSettings>
  <connectionStrings>
    <add name="AUTO1" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = hsndsd72.hsntech.int)(PORT = 1541))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = SEAUTOT)));User Id=AUTO1;Password=AUTO1" />
    <add name="AUTO2" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = hsndsd72.hsntech.int)(PORT = 1541))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = SEAUTOT)));User Id=AUTO2;Password=AUTO2" />
  </connectionStrings>
</configuration>