<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://www.phptravels.net/"/>
    <add key="BROWSER" value="Chrome" />
    <add key="LoginEmail" value="onlysarker@gmail.com" />
    <add key="Password" value="abc123" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
</configuration>